.app-title {
  background: linear-gradient(
      to right,
      hsl(190, 100%, 62%),
      hsl(204, 100%, 90%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 3px #0000004a;;
}

.app-content {
  display: flex;
  align-items: center;
}

.app-container {
  background-color: #032b52;
  background-image: url(../assets/backgrounds/bg1.jpg);

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-header {
  background-color: rgba(246, 246, 246, 0.45);
}

.ant-notification-notice {
  background: linear-gradient(
      to right,
      hsla(190, 100%, 62%, 0.3),
      hsla(204, 100%, 90%, 0.3)
  );
}

.ant-notification-notice-message,
.ant-notification-notice-close {
  color: rgba(255, 255, 255, 0.85);
}
